<div class="col-md-12 article">
    <div class="col-md-12 text-center">
        <h2 class="category-header">访客</h2>
        <hr>
    </div>
    <div class="col-md-12">
        <ul class="ds-recent-visitors"></ul>
        <!--多说js加载开始，一个页面只需要加载一次 -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"yumendy"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
        <!--多说js加载结束，一个页面只需要加载一次 -->
    </div>

</div>